body {
 margin: 0px;
background-color: rgb(144, 182, 221);
}

h1 {
    width: 774px;
    height: 194px;
    color: rgb(295, 295, 295);
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    background-color:rgb(99, 137, 175);
    border: none;
    margin: none;
    margin-top: 0px;
    font-size: 106px;

}

#heading {
    width: 774px;
    height: 194px;
    margin-right: auto; 
    position: absolute;
}

#maincontainer
{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 1024px;
    height: 2000px;
    background-color: rgb(255, 255, 255);
}
