@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;1,900&display=swap');


body {
margin: 0px;
background-color: rgb(168, 196, 225);
}

h1 {
    width: 774px;
    height: 194px;
    color: rgb(295, 295, 295);
    position: absolute;
    border: none;
    margin: none;
    margin-top: 0px;
    font-size: 116px;
}

#maincontainer
{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 1024px;
    height: 3955px;
    background-color: rgb(255, 255, 255);
    /* border: solid yellow 3px; */
}

#title {
    width: 774px;
    height: 194px;
    margin-right: auto; 
    /* border: 3px solid salmon; */
}

#header {
    background-color:rgb(99, 137, 175);
    display: flex;
    justify-content: space-around;
    /* border: purple 3px dotted; */
}

/* 
#navcontainer {
    border: 4px solid yellow;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    justify-content: space-between;
} */

/* #nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row 
} */

#navabout {
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Abril Fatface', cursive;
    color: #3E3E3E;
    background-color: #90b6dd;
    width: 325px;
    height: 100px;
    /* text-align: center; */
    display: flex;
    text-decoration:none;
    transition-delay: .25s;
    transition-duration: 1s;
}

#navabout:hover {
    margin-right: 5px;
    margin-left: 5px;
    width: 325px;
    height: 100px;
    color: #2E2E2E;
    background-color: #B9D0E9;
    transition-property: background-color color;
    transition-duration: 1s;
    transition-delay: .25s;
}

#navart {
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Abril Fatface', cursive;
    color: #3E3E3E;
    background-color: #90b6dd;
    width: 325px;
    height: 100px;
    margin-top: 0px;
    /* text-align: center; */
    display: flex;
    text-decoration:none;
    transition-delay: .25s;
    transition-duration: 1s;
}

#navart:hover {
    margin-right: 5px;
    margin-left: 5px;
    width: 325px;
    height: 100px;
    color: #2E2E2E;
    background-color: #B9D0E9;
    transition-property: background-color color;
    transition-duration: 1s;
    transition-delay: .25s;
}

#navsc {
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Abril Fatface', cursive;
    color: #3E3E3E;
    background-color: #90b6dd;
    width: 325px;
    height: 100px;
    text-align:right;
    display: flex;
    text-decoration:none;
    transition-delay: .25s;
    transition-duration: 1s;
}

#navsc:hover {
    margin-right: 5px;
    margin-left: 5px;
    width: 325px;
    height: 100px;
    color: #2E2E2E;
    background-color: #B9D0E9;
    transition-property: background-color color;
    transition-duration: 1s;
    transition-delay: .25s;
}

li {
    font-family: 'Abril Fatface', cursive;
    /* color: rgb(62, 62, 62);
    background-color: rgb(144, 182, 221); */
    /* border: red solid 3px; */
    width: 245px;
    height: 100px;
    margin-top: 0px;
    /* text-align: center; */
    display: flex;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    /* border: purple 3px dotted; */
}

/* .nav {
    display: flex;
    flex-direction: row;
    text-align: center; 
    padding: 10px;
    justify-content: space-around;
}    */

h3 {
    width: 330px;
    font-size: 30px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    /* border: solid red 1px; */
    text-align: center; 
    color: rgb(62, 62, 62);
    background-color: rgb(144, 182, 221);
    transition-delay: .25s;
    transition-duration: 1s;
}

h3:hover {
    width: 325px;
    height: 100px;
    color: #2E2E2E;
    background-color: #B9D0E9;
    transition-property: background-color color;
    transition-duration: 1s;
    transition-delay: .25s;
}


h1 {
    display: flex;
    justify-content: right;
}

#title {
    display: flex;
    justify-content: flex-start;
    /* border: solid red 2px; */
    width: 900px;
    margin-left: -250px;
    /* margin-top: 0px; */
}

#fischer {
    margin-top: 100px;
}

#ghost {
    letter-spacing: 25px;
    margin-left: 20px;
    margin-top: -10px;
}

#logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 90px
}

#abovethefold {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-content: flex-start; */
    /* border: blueviolet dotted 3px; */
    padding: 0px;
}

#moonphotography {
   margin-left: 0px;
   margin-bottom: 10px;
   margin-top: 10px;
   display: flex;
   /* border: rgb(226, 156, 43) solid 3px; */
    }

#liloandstitch {
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    /* border: rgb(43, 144, 226) solid 3px; */
}

#about {
    font-family: 'Abril Fatface', cursive;
    /* border: blueviolet solid 1px; */
    background-color: rgb(146, 184, 221);
    color: rgb(62, 62, 62);
    font-size: 37px;
    width: 238.5px;
    height: 40px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    /* position: relative; */
}

#aboutmepic {
    /* margin-left: 5px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* margin-left: 5px; */
    /* border: solid 3px salmon; */
}

#squarebox {
    width: 487px;
    height: 407px;
    /* border: dotted 3px aquamarine; */
    display: flex;
    flex-direction: column  ;
    flex-wrap: wrap;
}

#leftbox {
    width: 490px;
    height: 725px;
    /* border:  rgb(226, 195, 43) 1px; */
    flex-wrap: wrap;
}

#rightbox {
    width: 490px;
    height: 725px;
    margin-top: 10px;
    margin-left: 5px;
    /* border: rgb(43, 92, 226) dotted 3px; */
}

#leftsquarebox {
    /* border: solid rgb(36, 176, 55) 1px; */
    margin: 0px;
    margin-right: 10px;
    margin-top: 0px;
    width: 238.5px;
    height: 410px;
}

#rightsquarebox {
    /* border: solid rgb(176, 36, 85) 1px; */
    margin: 0px;
    margin-left: 0px;
    width: 238.5px;
    height: 410px;
}

#begin {
    width: 238.5px; 
    height: 105px;
    /* border: solid blue 1px; */
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 15px;
    line-height: 13pt;
}

#continue {
    width: 238.5px; 
    height: 415px;
    /* border: solid blue 1px; */
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
    line-height: 13pt;
}

#adtitle {
    font-family: 'Abril Fatface', cursive;
    background-color: rgb(144, 182, 221);
    color: rgb(62, 62, 62);
    font-size: 70px;
    width: auto;
    height: 100px;
    margin-top: 17px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
    /* border: solid salmon 3px; */
}

#leftcolumn {
    /* border: solid red 2px; */
    margin-left: 7px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    width: 330px;
    height: 876px;
}

#centercolumn {
    /* border: solid orange 2px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
    width: 308px;
    height: 876px;
}

#rightcolumn {
    /* border: solid yellow 2px; */
    margin-left: 5px;
    margin-right: 7px;
    margin-bottom: 5px;
    margin-top: 0px;
    width: 330px;
    height: 876px;
}

#artanddesigns {
    /* border: dotted blueviolet 3px; */
    height: 1497px;
    width: auto;
}

#mainarea {
    /* border: solid 3px rgb(179, 240, 56); */
    height: auto;
    /* margin-top: 0px;
    margin-bottom: 0px; */
}

#area51 {
    display: flex;
    flex-direction: row;
    height: 878px;
    width: auto;
    /* border: dotted darkgoldenrod 3px; */
}

#ad1 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#description1 {
    width: 330px;
    height: 100px;
    /* border: solid blue 2px; */
    margin-top: 0px;
}

#ad2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

#description2 {
    width: 308px;
    height: 100px;
    /* border: solid blue 2px; */
    margin-top: 0px;
}

#ad3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

#description3 {
    width: 325px;
    height: 100px;
    /* border: solid blue 2px; */
    margin-top: 0px;
}

#ad4 {
    margin-top: 0px;
    margin-bottom: 10px;
}

#description4 {
    width: 330px;
    height: 100px;
    /* border: solid blue 2px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

#ad5 {
    margin-top: 0px;
    margin-bottom: 10px; 
}

#description5 {
    width: 308px;
    height: 100px;
    /* border: solid blue 2px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

#ad6 {
    margin-top: 0px;
    margin-bottom: 10px; 
}

#description6 {
    width: 330px;
    height: 100px;
    /* border: solid blue 2px; */
    margin-top: 0px;
    margin-bottom: 0px;
}

#bottomsection {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 700px;
    /* border: dotted rgb(106, 11, 184) 3px; */
    margin-bottom: 0px;
}

#ad7 {
    margin-top: 15px;
    margin-bottom: 5px; 
    margin-left: 15px;
    margin-right: 7.5px;
}

#description7 {
    width: 587px;
    height: 100px;
    /* border: solid rgb(29, 147, 88) 1px; */
    margin-left: 15px;
    margin-right: 7.5px;
    margin-top: 5px;
}

#ad8 {
    margin-top: 15px;
    margin-bottom: 5px; 
    margin-left: 7.5px;
    margin-right: 15px;
    /* border: dotted dodgerblue 2px; */
}

#description8 {
    width: 387px;
    height: 100px;
    /* border: solid rgb(28, 186, 70) 1px; */
    margin-left: 7.5px;
    margin-right: 15px;
    margin-top: 5px;
}

#shopandcontact {
    /* border: rgb(255, 152, 178) solid 1px; */
    /* position: relative; */
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
}

/* #scheader {
    border: red dotted 2px;
    width: auto;
    height: 105px;
    margin-top: 0px;
} */

#sctitle {
    font-family: 'Abril Fatface', cursive;
    background-color: rgb(144, 182, 221);
    color: rgb(62, 62, 62);
    font-size: 70px;
    width: auto;
    height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
}

#scmainarea {
    height: 360px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    /* border: solid rgb(136, 0, 255); */
}

#sctext {
    height: 343px;
    width: 495px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* border: solid salmon 1px; */
    text-align: center;
    padding-bottom: 14px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 3px;
    background-color: #B9D0E9;
    color: #2E2E2E;
}

#scpicture {
    margin-left: 5px;
    margin-right: 10px;
}

#text1 {
    font-size: 21px;
}

#text2 {
    font-size: 12px;
}

/* #shopimage {
    border: solid pink 1px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
} */

/* 
#contact {
    border: red solid 1px;
    position: relative;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

#contactheader {
    border: red dotted 2px;
    width: auto;
    height: 105px;
}

#contacttitle {
    font-family: 'Abril Fatface', cursive;
    background-color: rgb(144, 182, 221);
    color: rgb(62, 62, 62);
    font-size: 70px;
    width: auto;
    height: 100px;
    margin-top: 0px;
    margin-bottom: -90px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
}

#contactmainarea {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    border: solid orange;
}

#contacttext {
    height: 360px;
    width: 495px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid salmon 1px;
}

#contactimage {
    border: solid pink 1px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
} */

footer {
    /* border: rgb(237, 58, 145) solid 2px; */
    /* display: flex;
    flex-direction: row; */
    width: auto;
    height: 270px;
    background-color: rgb(99, 137, 175);
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: 0px;
}

#footerlinks {
    display: flex;
    flex-direction: row;
    /* border: magenta 2px solid; */
    width: 695px;
    height: 245px;
    margin: 10px;
    margin-right: 10px;
}

/* .linkwork {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: aqua;
} */

h4 {
/* color: white;
font-size: 18px; */
/* border: green solid 2px;
margin: 10px; */
}

#footerlogo {
    /* border: solid rgb(191, 33, 219) 2px; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

#atagidk {
    text-decoration: none;
    color: white;
    font-size: 21px;
    margin: 10px;
    font-size: 27px;
}

#thisbitidk {
    margin-top: 10px;
    margin-bottom: 9px;
}